<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sorry, you lose.</h1>


    <form class="" action="/newGame" method="post">
      <button type="submit" name="button"><h2>new game</h2></button>
    </form>


  </body>
</html>
