.outerLetter{
  display: flex;
  flex-direction: row;

}

.innerLetter{
  width: 2%;
  height: 50px;
  border-bottom: solid;
  border-bottom-color: black;
  border-bottom-width: thin;
  margin:1%;
}

.wrongGuesses{
  display: flex;
}
